## Deliverable 2. Create a Customer Travel Destinations Map.

In [23]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [24]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nouakchott,MR,18.0858,-15.9785,73.35,29,100,13.51,overcast clouds
1,1,Yaan,NG,7.3833,8.5667,75.74,22,25,4.52,scattered clouds
2,2,Potosi,BO,-19.5836,-65.7531,53.11,35,43,2.48,scattered clouds
3,3,Punta Arenas,CL,-53.1500,-70.9167,42.91,65,75,21.85,broken clouds
4,4,Kazerun,IR,29.6195,51.6541,53.94,25,6,4.03,clear sky

In [25]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip?"))

What is your desired minimum temperature for your trip? 5
What is your desired maximum temperature for your trip?25

In [26]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
12,12,Upernavik,GL,72.7868,-56.1549,6.12,92,100,11.34,overcast clouds
19,19,Tigil,RU,57.8000,158.6667,19.83,83,100,17.13,overcast clouds
25,25,Taonan,CN,45.3333,122.7833,16.65,71,2,13.85,clear sky
31,31,Ilulissat,GL,69.2167,-51.1000,19.42,63,40,10.36,scattered clouds
46,46,Nanortalik,GL,60.1432,-45.2371,24.13,78,100,9.84,overcast clouds
54,54,Yellowknife,CA,62.4560,-114.3525,7.32,85,90,5.75,light snow
57,57,Berezovyy,RU,51.6667,135.7000,18.34,86,99,2.82,overcast clouds
70,70,Korla,CN,41.7597,86.1469,17.35,74,26,2.62,scattered clouds
78,78,Kodiak,US,57.7900,-152.4072,11.71,57,1,19.57,clear sky
103,103,Homer,US,59.6425,-151.5483,12.07,61,1,9.22,clear sky

In [27]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [28]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
12,12,Upernavik,GL,72.7868,-56.1549,6.12,92,100,11.34,overcast clouds
19,19,Tigil,RU,57.8000,158.6667,19.83,83,100,17.13,overcast clouds
25,25,Taonan,CN,45.3333,122.7833,16.65,71,2,13.85,clear sky
31,31,Ilulissat,GL,69.2167,-51.1000,19.42,63,40,10.36,scattered clouds
46,46,Nanortalik,GL,60.1432,-45.2371,24.13,78,100,9.84,overcast clouds
54,54,Yellowknife,CA,62.4560,-114.3525,7.32,85,90,5.75,light snow
57,57,Berezovyy,RU,51.6667,135.7000,18.34,86,99,2.82,overcast clouds
70,70,Korla,CN,41.7597,86.1469,17.35,74,26,2.62,scattered clouds
78,78,Kodiak,US,57.7900,-152.4072,11.71,57,1,19.57,clear sky
103,103,Homer,US,59.6425,-151.5483,12.07,61,1,9.22,clear sky
155,155,Paamiut,GL,61.9940,-49.6678,12.16,78,46,7.29,scattered clouds
162,162,Hami,CN,42.8000,93.4500,22.23,44,15,3.27,few clouds
166,166,Narsaq,GL,60.9167,-46.0500,16.02,77,68,6.62,broken clouds
183,183,Yanji,CN,42.9075,129.5078,22.69,40,0,13.87,clear sky
216,216,Watrous,CA,51.6668,-105.4679,22.78,86,39,1.14,scattered clouds
279,279,Ulagan,RU,50.6321,87.9563,17.51,95,100,0.92,light snow
290,290,Anchorage,US,61.2181,-149.9003,8.64,59,1,12.66,clear sky
299,299,Sisimiut,GL,66.9395,-53.6735,16.00,80,20,11.41,few clouds
327,327,Khilok,RU,51.3674,110.4676,17.71,69,95,3.24,overcast clouds
333,333,Butka,RU,56.7179,63.7866,15.48,78,46,8.75,scattered clouds
338,338,Kamenka,RU,51.3223,42.7678,18.75,60,100,13.13,overcast clouds
350,350,Hovd,MN,48.0056,91.6419,10.04,60,75,3.58,broken clouds
351,351,Suoyarvi,RU,62.0833,32.3500,22.60,97,100,1.72,light snow
354,354,Nikolskoye,RU,59.7035,30.7861,24.80,99,100,2.17,snow
409,409,Khuzhir,RU,53.1939,107.3397,24.39,60,90,13.89,overcast clouds
411,411,Slavyanka,RU,42.8633,131.3847,23.27,41,2,12.19,clear sky
417,417,Usinsk,RU,65.9939,57.5281,10.04,95,99,14.07,overcast clouds
423,423,Oktyabrskiy,RU,54.4815,53.4710,9.37,92,19,3.74,few clouds
453,453,Bor,RU,56.3567,44.0669,15.73,90,90,6.35,overcast clouds
458,458,Kolyvan,RU,55.3053,82.7391,5.05,96,100,6.73,light snow
467,467,Melfort,CA,52.8667,-104.6177,19.53,93,85,3.44,overcast clouds
477,477,Vanderhoof,CA,54.0166,-124.0198,18.75,93,100,2.59,overcast clouds
494,494,Kouqian,CN,43.6391,126.4578,19.49,57,1,10.98,clear sky
507,507,Prince George,CA,53.9166,-122.7530,20.62,93,20,4.61,few clouds
516,516,Changji,CN,44.0167,87.3167,7.59,85,82,0.00,broken clouds
527,527,Ossora,RU,59.2353,163.0719,8.94,92,100,27.40,snow
542,542,Mayna,RU,54.1135,47.6231,15.19,77,29,6.55,scattered clouds
576,576,Aksu,CN,41.1231,80.2644,21.87,66,19,1.28,few clouds
585,585,Shubarkuduk,KZ,49.1447,56.4872,16.32,68,0,9.10,clear sky
596,596,Lanzhou,CN,36.0564,103.7922,24.08,50,0,0.85,clear sky
622,622,Longfeng,CN,46.5500,125.1167,12.42,77,63,14.74,broken clouds
625,625,Vagay,RU,57.9375,69.0217,14.05,94,99,7.02,light snow
627,627,Bulgan,MN,48.8125,103.5347,17.98,29,4,4.54,clear sky
633,633,Birjand,IR,32.8663,59.2211,23.47,58,0,6.91,clear sky
638,638,Chingirlau,KZ,51.0950,54.0814,13.32,84,4,4.43,clear sky
640,640,Slave Lake,CA,55.2834,-114.7690,8.58,92,75,9.22,broken clouds
658,658,Aktash,RU,50.3000,87.7333,9.64,95,100,1.99,light snow
666,666,Zhanaozen,KZ,43.3000,52.8000,21.45,77,1,11.21,clear sky
679,679,Leh,IN,34.1667,77.5833,9.09,73,71,2.53,broken clouds
682,682,Hailar,CN,49.2000,119.7000,12.07,82,57,11.72,broken clouds
691,691,Kovdor,RU,67.5662,30.4758,24.31,96,100,4.76,overcast clouds
702,702,Troitsko-Pechorsk,RU,62.7084,56.1964,6.28,94,100,5.70,overcast clouds

In [29]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
12,Upernavik,GL,6.12,overcast clouds,72.7868,-56.1549,
19,Tigil,RU,19.83,overcast clouds,57.8000,158.6667,
25,Taonan,CN,16.65,clear sky,45.3333,122.7833,
31,Ilulissat,GL,19.42,scattered clouds,69.2167,-51.1000,
46,Nanortalik,GL,24.13,overcast clouds,60.1432,-45.2371,
54,Yellowknife,CA,7.32,light snow,62.4560,-114.3525,
57,Berezovyy,RU,18.34,overcast clouds,51.6667,135.7000,
70,Korla,CN,17.35,scattered clouds,41.7597,86.1469,
78,Kodiak,US,11.71,clear sky,57.7900,-152.4072,
103,Homer,US,12.07,clear sky,59.6425,-151.5483,

In [30]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [31]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
12,Upernavik,GL,6.12,overcast clouds,72.7868,-56.1549,Gina's Guesthouse - Upernavik
19,Tigil,RU,19.83,overcast clouds,57.8000,158.6667,Tigil'
25,Taonan,CN,16.65,clear sky,45.3333,122.7833,Makro Hotel
31,Ilulissat,GL,19.42,scattered clouds,69.2167,-51.1000,Hotel Arctic
46,Nanortalik,GL,24.13,overcast clouds,60.1432,-45.2371,Hotel Kap Farvel

In [32]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [33]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [34]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure.
fig

Figure(layout=FigureLayout(height='420px'))